= link_to shopping_cart.cart_path, class: 'shop-link pull-right hidden-xs', id: 'cart_quantity' do
  - if order_items_quantity.nonzero?
    %span.shop-icon
      %span.shop-quantity= order_items_quantity
  - else
    %span.shop-icon.bc-transparent